@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Rubik:ital@1&display=swap");
body {
  margin: 0;
  font-family: "Anek Bangla";
  font-size: 22px;
  background: #0A043C;
  color: white;
  /* background: linear-gradient(90deg, hsla(176, 61%, 87%, 1) 0%, hsla(150, 54%, 86%, 1) 50%, hsla(301, 68%, 84%, 1) 100%); */
}

::selection {
  background: black;
  color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.hello:hover {
  background: #000;
}


