@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@300;400;500;600;700;800&display=swap');
/* body {
  margin: 0;
  font-family: "Anek Bangla";
  font-size: 22px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
} */
@layer base {
  body {
    @apply font-primary box-border m-0 text-[22px] bg-black flex flex-col text-white;
  }
}
::selection {
  background: rgb(55, 175, 245);
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(55, 175, 245);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

/* loading spinner */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border-radius: 50%;
  -webkit-mask: radial-gradient(farthest-side, #0000 40%, #474bff 41%);
  background: linear-gradient(
        0deg,
        rgba(71, 75, 255, 0.5) 50%,
        rgba(71, 75, 255, 1) 0
      )
      center/4.5px 100%,
    linear-gradient(
        90deg,
        rgba(71, 75, 255, 0.25) 50%,
        rgba(71, 75, 255, 0.75) 0
      )
      center/100% 4.5px;
  background-repeat: no-repeat;
  animation: spinner-d3o0rx 1s infinite steps(12);
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: inherit;
  opacity: 0.915;
  transform: rotate(30deg);
}

.spinner::after {
  opacity: 0.83;
  transform: rotate(60deg);
}

@keyframes spinner-d3o0rx {
  100% {
    transform: rotate(1turn);
  }
}
/* hadith */

.page:after {
  content: "";
  width: 100%;
  height: 10px;
  background: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
  /* border-radius: 50px; */
}

/*sm: banner image */
@media only screen and (max-width: 767px) {
  .img-banner {
    margin: 0 calc(-50vw + 50%);
    width: 100vw;
    max-width: 100vw;
  }
}
/* input */

input,
textarea {
  background-color: #121923;
  border-radius: 2px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 20px;
  width: 500px;
}
/*sm: banner image */
@media only screen and (max-width: 600px) {
  input,
  textarea {
    width: 100%;
  }
}
.send-icon {
  margin-left: 5px;
}
