@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: black;
  color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.hello:hover{
    background: #000;
}
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }

  li {
    @apply p-4;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Anek+Bangla&family=Rubik:ital@1&display=swap");
body {
  margin: 0;
  font-family: "Anek Bangla";
  font-size: 22px;
}
